:root{

    --cor_um: #090909;
    --cor_dois: #757575;
    --cor_tres: #F5F5F5;
    --cor_quatro: #FFFFFF;

    --tipografia_primaria: 'Poppins', sans-serif;
    --tipografia_primaria: 'Nunito', sans-serif;

}